.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
}

.header__left {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 33.33%;
    height: 30px;
}

.header__logo {
    height: 30px;
}

.header__center {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 33.33%;
    height: 30px;
}

.header__right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 33.33%;
    height: 30px;
}