/* general */

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 50px;
    padding: 10px;
}

.header__left {
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
    height: 30px;
}

.header__center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30px;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header__right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: auto;
    height: 30px;
}

.header__button {
    display: none;
}

@media screen and (max-width: 400px) {}

/* nav */

.nav {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 400px) {}


/* main */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90vh;
    margin: auto;
    padding: 30px;
}

.section__intro {
    position: relative;
    overflow: hidden;
    height: 90vh;
}

.section__intro-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.section__intro-title,
.section__intro-description {
    position: relative;
    z-index: 2;
}

.section__benefits {
    flex-direction: row;
    justify-content: space-between;
}

.section__benefits-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__benefits-image {
    width: 100px;
}

.section__testimonials {
    flex-direction: row;
    justify-content: space-between;
}

.section__testimonials-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__testimonials-image {
    width: 100px;
}

.section__stats {
    flex-direction: row;
    justify-content: space-around;
}

.section__stats-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__pricing {
    flex-direction: row;
    justify-content: space-between;
}

.section__pricing-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media screen and (max-width: 400px) {}


/* footer */

@media screen and (max-width: 400px) {}