/* general */

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 50px;
    padding: 10px;
}

.header__left {
    display: flex;
    justify-content: left;
    align-items: center;
    width: auto;
    height: 30px;
}

.header__logotipo {
    height: 30px;
}

.header__center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30px;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
}

.header__link {
    text-decoration: none;
    color: #000;
}

.header__right {
    display: flex;
    justify-content: right;
    align-items: center;
    width: auto;
    height: 30px;
}

.header__link-access {
    width: auto;
    height: 30px;
    padding: 5px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
}

.header__button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 800px) {

    .header__center {
        display: none;
    }

    .header__link-access {
        display: none;
    }

    .header__button {
        display: flex;
    }

}

/* nav */

.nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 3;
    background-color: #fff1;
    backdrop-filter: blur(10px);
}

.nav__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav__box--top {
    justify-content: space-between;
}

.nav__logotipo {
    height: 30px;
}

.nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}

.nav__link {
    font-size: 2rem;
    text-decoration: none;
    color: #000;
}

.nav__link-access {
    font-size: 2rem;
    width: auto;
    height: auto;
    padding: 5px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {}

/* main */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-height: 90vh;
    margin: auto;
    border: 1px solid #000;
}

.section__intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {}


.section__benefits {
    flex-direction: row;
    justify-content: space-between;
}

.section__benefits-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.section__benefits-image {
    width: 200px;
}

@media screen and (max-width: 800px) {

    .section__benefits {
        flex-direction: column;
    }

}


.section__testimonials {
    flex-direction: row;
    justify-content: space-between;
}

.section__testimonials-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}

.section__testimonials-image {
    width: 100px;
}

@media screen and (max-width: 800px) {

    .section__testimonials {
        flex-direction: column;
    }
}


.section__stats {
    flex-direction: row;
    justify-content: space-around;
}

.section__stats-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}

@media screen and (max-width: 800px) {

    .section__stats {
        flex-direction: column;
    }

}


.section__pricing {
    flex-direction: row;
    justify-content: space-between;
}

.section__pricing-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}


@media screen and (max-width: 800px) {

    .section__pricing {
        flex-direction: column;
    }
}



/* footer */

.footer__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__top-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

@media screen and (max-width: 800px) {

    .footer__top {
        flex-direction: column;
    }

}

.footer__bottom {
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #000;
}

/* chat */

.chat {
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 300px;
    height: 300px;
    z-index: 2;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 #000;
    background-color: #fff;
}

.chat__head {
    justify-content: left;
    width: 100%;
}

.chat__form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.chat__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30px;
}

.chat-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    z-index: 2;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    box-shadow: 0 0 10px 0 #000;
    background-color: #fff;
}

.chat-button--close {
    display: none;
    font-size: 2rem;
}