body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    height: 100vh;
    margin: 0;
}

.login {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login__title {
    margin-bottom: 20px;
    text-align: center;
}

.login__input-group {
    margin-bottom: 15px;
}

.login__label {
    display: block;
    margin-bottom: 5px;
}

.login__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login__btn {
    width: 100%;
    padding: 10px;
    background-color: #aace6b;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.login__btn:hover {
    background-color: #a0c000;
    border: 3px solid #aace6b;
    background: none;
}